{% extends "base.html" %}

{% block content %}


<div class="hero-unit span6 offset2 top-pad download">
   
  <h1 id="hero"> netflix-rate </h1>
    <p> 
        Get the Chrome or Firefox extension that adds IMDB and Rotten Tomato ratings to the Netflix webpage.
    </p>

    <div class="row">
        <div class="span3">
            <img class="ext-icon" src="static/img/chrome-logo.png">
            <a class="btn btn-large" target="_blank" href="https://chrome.google.com/webstore/detail/netflix-rate/ecaaapiecdienibfgolcopgnicppkmhn?hl=en">Chrome Download &raquo;</a> 

        </div>
        <div class="span3">
            <img class="ext-icon" src="static/img/firefox-logo.png">
            <a class="btn btn-large" target="_blank" href=" https://addons.mozilla.org/en-us/firefox/addon/netflix-rate/">Firefox Download &raquo;</a>
        </div>
    </div>
    <br>
    <div class="row offset1">
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://netflix-rate.herokuapp.com" data-text="I just downloaded #netflix-rate, get yours here:">Tweet</a>

        <div class="g-plusone" data-size="medium" data-annotation="bubble"></div>

        <div class="fb-like" data-href="http://netflix-rate.herokuapp.com" data-send="false" data-layout="button_count" data-width="300" data-show-faces="true" data-font="arial" data-action="like"></div>
    </div>
</div>

<p class="row offset-mid btn btn-large"> 
    <a href="/preview"> Preview <i class="icon-play"></i></a>
</p>

{% endblock %}

{% block scripts %}
 <script type="text/javascript" src="/static/js/home.js"></script>
{% endblock %}