{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="span4">
            <h2> <img class="ext-icon" src="static/img/chrome-logo.png"> Chrome Extension</h2>
            <p> Track you data through the Chrome browser. The extension will link to your account and keep track of your whitelist and browsing data. </p>
            <p>
                <a class="btn" href="#">Download &raquo;</a>
            </p>
    </div>
    <div class="span4">
        <h2> <img class="ext-icon" src="static/img/firefox-logo.png"> Firefox Extension</h2>
        <p>
            Track you data through the Chrome browser. The extension will link to your account and keep track of your whitelist and browsing data. 
        </p>
        <p>
            <a class="btn" href="#">Download &raquo;</a>
        </p>
    </div>
</div>

{% endblock %}