{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="span8 offset2">
        <div class="hero-unit top-pad download-unit">
            <div class="row offset1 heading clearfix">
                <img src="/static/img/netflix-128.png">
                <h1>netflix-rate</h1>
                <h2>IMDB and Rotten Tomato ratings for Netflix.</h2>
            </div>
            <div class="row offset1 downloads">
                <div class="chrome span3">
                    <img class="ext-icon" src="static/img/chrome-logo.png">
                    <a class="btn btn-default" href="https://chrome.google.com/webstore/detail/netflix-rate/ecaaapiecdienibfgolcopgnicppkmhn?hl=en" target="_blank">Get it for Chrome &raquo;</a> 
                </div>
                <div class="firefox span3">
                    <img class="ext-icon" src="static/img/firefox-logo.png">
                    <a class="btn btn-default" href=" https://addons.mozilla.org/en-us/firefox/addon/netflix-rate/" target="_blank" >Get it for Firefox &raquo;</a>
                </div>
            </div>

            <div class="share">
                <div class="subshare">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://netflix.burtonthird.com" data-text="I just downloaded #netflixrate, get yours here:"></a>

                    <div class="g-plusone" data-size="medium" data-annotation="bubble"></div>

                    <div class="fb-like" data-href="http://netflix.burtonthird.com" data-send="false" data-layout="button_count" data-width="300" data-show-faces="true" data-font="arial" data-action="like"></div>

                    <a href="http://news.ycombinator.com/submit" class="hn-share-button"  data-title="Show HN: IMDB and RT ratings on Netflix" data-url="http://netflix.burtonthird.com"></a>
                </div>
            </div>

            <h5>Preview</h5>
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item preview">
                        <img src="/static/img/filmstrip/main-fresh.png">
                    </div>
                    <div class="item preview">
                        <img src="/static/img/filmstrip/dvd-fresh.png">
                    </div>
                    <div class="item preview">
                        <img src="/static/img/filmstrip/search-rotten.png">
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}
